* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    
}

.header {
    height: 15%;
    width: 100%;
    background-color: rgb(3, 74, 3);
    display: flex;
}

#menu {
    width: 30%;
    height: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo:hover {
    color: green;
    ;
}

#searchlogo {
    position: relative;
    left: -8px;
    color: white;
}

#searchlogo:hover {
    color: green;
}

#search {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#locationlogo {
    position: relative;
    left: -8px;
    color: white;
}

#locationlogo:hover {
    color: green;
}

#location {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#favourite {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#favouritelogo {
    position: relative;
    left: -8px;
    color: white;
}

#favouritelogo:hover {
    color: green;
}

.heading p {
    color: white;
}

.heading p:hover {
    color: lightgreen;
}

.body {
    height: 85%;
    width: 100%;
    background-color: rgb(171, 195, 233);
    /* display: flex;*/
}

.body video {
    width: 100%;
    height: 100%;
}

.body p {
    z-index: 1;
    position: absolute;
    left: 700px;
    top: 90%;
    color: white;
    font-weight: bolder;
}

.body p:hover {
    color: black;
}

.body2 {
    height: 50%;
    width: 100%;
    display: flex;
}

.second {
    height: 85%;
    width: 50%;
}

#one {
    font-size: 25px;
    color: green;
}

#one h1 {
    margin: 60px;
    margin-right: 90px;
    margin-left: 75px;
}

#two p {
    font-size: 25px;

    margin: 60px;
}

#two h6 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 60px;
    color: green;
}

#two h6:hover {
    color: black;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin: 0;
    
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 15px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 5px;
}

.hour {
    width: 6px;
    height: 80px;
    background: #333;
    transform: translate(-50%) rotate(0deg);
}

.second {
    width: 2px;
    height: 130px;
    background: #ff0000;
    transform: translate(-50%) rotate(0deg);
}

.header2 {
    height: 15%;
    width: 100%;
    display: flex;
    position: relative;
    top: 80px;
    z-index: 1000;
    background-color: white
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-weight: bold;

}

#all {
    margin-left: 520px;
    color: green;
}

.head p:hover {
    color: green
}

.configure {
    height: 30px;
    width: 100px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 280px;
}

#image1 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 100px;
}

#image1 img {
    height: 100%;
    width: 100%;
    

}

.link {
    height: 600px;
    width: 100%;
}


#link1 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.land-dweller {
    font-size: 45px;
    font-weight: bold;
    z-index: 10;
    position: relative;
    top: -135%;
    left: 150px;
}

.land {
    font-size: 30px;
    z-index: 10;
    position: relative;
    top: -130%;
    left: 150px;
}

#image2 {
    position: relative;
    top: 710px;
    height: 620px;
    width: 100%;
    color: white;
}

#image2 img {
    height: 100%;
    width: 100%;

}

#link2 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.main3 {
    height: 10000px;
}

.day-date {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;
}

.day {
    font-size: 30px;
    z-index: 1;
    position: relative;
    width: 450px;
    top: -130%;
    left: 150px;
}


#image3 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
}

#image3 img {
    height: 100%;
    width: 100%;
}

#link1 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.sky-dweller {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;
}

.sky {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;

}


#image4 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
}

#image4 img {
    width: 100%;
    height: 100%;
}

#link4 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.lady-date {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;
    color: white;
}

.lady {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;
    color: white;
}



#image5 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
}

#image5 img {
    height: 100%;
    width: 100%;
}

#link5 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.date-just {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;
}

.date {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;
}



#image6 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
    color: white;
}

#image6 img {
    height: 100%;
    width: 100%;
}

#link6 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.oyster-perpetual {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;
}


.oyster {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;

}


#image7 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
}

#image7 img {
    height: 100%;
    width: 100%;
}

#link7 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.submariner {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;
}

.sub {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;
}


#image8 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
    color: white;
}

#image8 img {
    height: 100%;
    width: 100%;
}

#link8 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.deepsea {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;

}

.deep {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;
}


#image9 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;
    color: white;
}

#image9 img {
    height: 100%;
    width: 100%;
}

#link9 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.explorer {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;

}

.ex {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;
}


#image10 {
    height: 600px;
    width: 100%;
    position: relative;
    top: 550px;

}

#image10 img {
    height: 100%;
    width: 100%;
}

#link10 a {
    position: relative;
    top: -600px;
    font-size: 200px;
    opacity: 0;
}

.nineteen {
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    top: -135%;
    left: 150px;

}

.nine {
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: -130%;
    left: 150px;
    ;
}



.end {
    height: 80px;
    width: 100%;
    position: relative;
    top: 550px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;
}

.home {
    margin-left: 100px;
    margin-right: 10px;
}

.collection {
    color: green;
}

.end2 {
    height: 100px;
    width: 100%;
    position: relative;
    top: 550px;
    display: flex;
    font-size: 20px;
    background-color: antiquewhite;
}

#share {
    margin-left: 100px;
    margin-right: 15px;
    font-weight: bold;
    margin-top: 35px;
}

.share {
    margin-top: 35px;
    margin-right: 15px;
    color: green;
}

.end3 {
    height: 1000px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    position: relative;
    top: 550px;
}

.columns {
    height: 100%;
}

#column1 {
    width: 25%;
}

#column1 img {
    height: 50px;
    position: relative;
    top: 170px;
    left: 100px;
}

#column2 {
    width: 20%;
}

.firsth2 {
    position: relative;
    top: 170px;
    font-size: 25px;
}

.firstp {
    position: relative;
    top: 180px;
    font-size: 20px;
}

.secondh2 {
    position: relative;
    top: 210px;
    font-size: 25px;
}

.secondp {
    position: relative;
    top: 220px;
    font-size: 20px;
}

.thirdh2 {
    position: relative;
    top: 240px;
    font-size: 25px;
}

.thirdp {
    position: relative;
    top: 250px;
    font-size: 20px;
}

#column3 {
    width: 20%;
}

.mainh2 {
    position: relative;
    top: 170px;
    font-size: 25px;
}

.h2of3 {
    position: relative;
    top: 200px;
    font-size: 25px;
}

.firstpof3 {
    position: relative;
    top: 210px;
    font-size: 20px;
}

.secondh2of3 {
    position: relative;
    top: 240px;
    font-size: 25px;
}

.secondpof3 {
    position: relative;
    top: 250px;
    font-size: 20px;
}

.thirdh2of3 {
    position: relative;
    top: 280px;
    font-size: 25px;
}

.thirdpof3 {
    position: relative;
    top: 290px;
    font-size: 20px;
}

.fourh2of3 {
    position: relative;
    top: 320px;
    font-size: 25px;
}

.fourpof3 {
    position: relative;
    top: 330px;
    font-size: 20px;
}

.fifthh2of3 {
    position: relative;
    top: 360px;
    font-size: 25px;
}

.fifthpof3 {
    position: relative;
    top: 370px;
    font-size: 20px;
}

.firsth2of4 {
    position: relative;
    top: 170px;
    font-size: 25px;
}

.firstpof4 {
    position: relative;
    top: 180px;
    font-size: 20px;
}

.secondh2of4 {
    position: relative;
    top: 210px;
    font-size: 20px;
}

.secondpof4 {
    position: relative;
    top: 220px;
    font-size: 20px;
}

.thirdh2of4 {
    position: relative;
    top: 250px;
    font-size: 20px;
}

.thirdpof4 {
    position: relative;
    top: 260px;
    font-size: 20px;
}

.fourthh2of4 {
    position: relative;
    top: 290px;
    font-size: 20px;
}

.fourthpof4 {
    position: relative;
    top: 300px;
    font-size: 20px;
}

.fifthh2of4 {
    position: relative;
    top: 330px;
    font-size: 20px;
}

.fifthpof4 {
    position: relative;
    top: 340px;
    font-size: 20px;
    left: 10px;
}

.columns h2:hover {
    color: green;
}

.columns h4:hover {
    color: green;
}

.columns p:hover {
    color: green;
}

